* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;

  .logo img {
    width: 120px;
  }

  .nav-links {
    display: flex;
    gap: 30px;

    a {
      text-decoration: none;
      color: #747171;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        color: #101010;
      }
    }
  }
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background-color: #2c343e;

  .hero_content {
    max-width: 500px;

    h1 {
      font-size: 40px;
      color: #ffffff;
      margin-bottom: 20px;
    }

    p {
      color: #dddddd;
      margin-bottom: 30px;
      line-height: 24px;
    }

    .btn {
      padding: 12px 24px;
      background-color: #0e8784;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;

      &:hover {
        background-color: #066a68;
      }
    }
  }

  .hero_image {
    width: 400px;
    height: 400px;
    /* background-image: url("/imegs/Bitmap.png"); */
    background-size: cover;
    border-radius: 10px;
  }
}


.collection {
  padding: 60px 20px;
  background-color: #fdfcf9;
  position: relative;
  text-align: center;
  margin: auto;
  overflow: hidden;
}


.collection_bg_text {
  font-size: 72px;
  color: #eceae3;
  font-weight: 900;
  position: relative;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}


.collection-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;
  margin-top: 120px;
  padding-bottom: 10px;
}


.collection-items .item {
  max-width: 260px;
  text-align: center;
}


.collection-items .item img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}


.collection-items .item h3 {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 12px;
}


.collection-items .item p {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
}

.why-choose-us {
  background-color: #2c343e;
  padding: 80px 0;
  text-align: center;
  color: #fff;

  .container {
    width: 960px;
    margin: auto;

    .description {
      color: #bcbcbc;
      margin-bottom: 60px;
    }

    .features {
      display: flex;
      justify-content: space-between;

      .card {
        width: 280px;
        padding: 40px 20px;
        background-color: #0e8784;
        border-radius: 8px;

        img {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.how-it-works {
  padding: 80px 60px;
  text-align: center;

  .steps {
    display: flex;
    justify-content: space-between;

    .step {
      max-width: 300px;
      text-align: left;

      h3 {
        color: #f8cfa0;
        font-size: 32px;
      }

      .btn {
        margin-top: 20px;
        display: inline-block;
        padding: 12px 24px;
        background-color: #53a89b;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}


.main-footer {
  background-color: #2c343e;
  padding: 30px;

  .container {
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-nav {
    display: flex;
    gap: 30px;

    a {
      color: #83888f;
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }

  .social-icons {
    display: flex;
    gap: 20px;
  }
}